<div class="testimonials">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Testimonials') ?></h2>
        <ul>
            <?php echo $this->getTestimonials(); ?>
        </ul>
    </div>
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Create a testimonial') ?></h2>

        <?php if($this->userLoggedIn()): ?>
            <?php echo $this->getChildHtml('testimonials_create'); ?>
        <?php else: ?>
            <h4 class="red"><?php echo $this->__('Please log in to send us a testimonial') ?>
                <a href="<?php echo $this->getUrl('customer/account/login') ?>"><?php echo $this->__('Click here') ?></a>
            </h4>
        <?php endif; ?>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>
</div>